.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    bottom: -25px;
    border-top: 5px solid red;
}


li {
    padding: 5px;
}