<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Hipo Pizza</title>
    <link rel="icon" href="public/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="../../public/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/menu.css">
    <script src="https://kit.fontawesome.com/0277c3bb21.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <section class="media-links">
            <div class="facebookIconBulk">
                <i class="fa-brands fa-facebook"></i>
                <a class="facebookLink" href="https://www.facebook.com/Hipopizza">&#8199&#8199</a>
            </div>
            <div class="whatsappIconBulk">
                <i class="fa-brands fa-whatsapp"></i>
                <a class="whatsappLink" href="https://wa.link/9xtufi">&#8199&#8199</a>
            </div>

        </section>
        <div class="logo-container">
            <img class="logo-image" src="../../public/Images/logo.png" alt="Hipo Pizza">
        </div>
        <div class="container">
            <nav class="nav">
                <a class="nav-link" href="../../index.html">INICIO</a>
                <a class="nav-link" href="menu.html">MENU</a>
                <a class="nav-link" href="sucursales.html">SUCURSALES</a>
                <a class="nav-link" href="nosotros.html">NOSOTROS</a>
                <a class="nav-link" href="contacto.html">CONTACTO</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <section>
            <div class="mitad1">
                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Muzzarella</p>
                        <p class="gusto">Salsa de Tomates,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1150</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1050</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Calabresa</p>
                        <p class="gusto">Salsa de tomates,longaniza,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1350</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1200</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Provolone</p>
                        <p class="gusto">Salsa de tomates,provolone,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1350</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1200</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Verdura</p>
                        <p class="gusto">Verdura,salsa blanca,morrones,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1250</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1150</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Roquefort</p>
                        <p class="gusto">Salsa de tomates,roquefort,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1350</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1200</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Anchoas</p>
                        <p class="gusto">Salsa de tomates,anchoas y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1250</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1150</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="mitad2">
                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Fugazza C/Muzza</p>
                        <p class="gusto">Cebolla,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1350</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1150</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Jamon</p>
                        <p class="gusto">Salsa de tomates,jamon,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1150</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1050</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Palmito</p>
                        <p class="gusto">Salsa de tomates,palmitos,salsa golf,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1350</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1200</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Cuatro Quesos</p>
                        <p class="gusto">Salsa de tomates,roquefort,provolone,parmesano,morron,muzzarella y aceitunas
                        </p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1450</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1250</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Jamon y Morrones</p>
                        <p class="gusto">Salsa de tomates,jamon,morron,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1350</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1200</p>
                        </div>
                    </div>
                </div>

                <div class="pizza">
                    <div class="tamaño">
                        <p>GDE.</p>
                        <p>CH.</p>
                    </div>
                    <div class="tipo">
                        <p class="nombre">Champigñones</p>
                        <p class="gusto">Salsa de tomates,jamon,champigñones,roquefort,muzzarella y aceitunas</p>
                    </div>
                    <div class="precios">
                        <div class="grande">
                            <p class="precio">$1450</p>
                        </div>
                        <div class="chica">
                            <p class="precio">$1250</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    </div>
    <footer>
        <div class="contact-info">
            <h4>Mas Informacion</h4>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> hipopizza@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> 11 4202-8242</li>
                <li><i class="fa-solid fa-map"></i> Av.Achaval 2600 / Uriarte 599, Lanús - Buenos Aires</li>
            </ul>
    </footer>
</body>

</html>