<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros Hipo Pizza</title>
    <link rel="icon" href="public/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="../../public/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/nosotros.css">
    <script src="https://kit.fontawesome.com/0277c3bb21.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <section class="media-links">
            <div class="facebookIconBulk">
                <i class="fa-brands fa-facebook"></i>
                <a class="facebookLink" href="https://www.facebook.com/Hipopizza">&#8199&#8199</a>
            </div>
            <div class="whatsappIconBulk">
                <i class="fa-brands fa-whatsapp"></i>
                <a class="whatsappLink" href="https://wa.link/9xtufi">&#8199&#8199</a>
            </div>

        </section>
        <div class="logo-container">
            <img class="logo-image" src="../../public/Images/logo.png" alt="Hipo Pizza">
        </div>
        <div class="container">
            <nav class="nav">
                <a class="nav-link" href="../../index.html">INICIO</a>
                <a class="nav-link" href="menu.html">MENU</a>
                <a class="nav-link" href="sucursales.html">SUCURSALES</a>
                <a class="nav-link" href="nosotros.html">NOSOTROS</a>
                <a class="nav-link" href="contacto.html">CONTACTO</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <section>
            <div class="centro">
                <div class="Titulo">
                    <h2>Sobre Nosotros</h2>
                </div>
                <div class="about">
                    <p class="Parrafo">Hippo Pizza es la encarnación de Gloria, la preciada abuela del dueño de este
                        humilde
                        establecimiento. Una mujer de oro con un especial talento maternal para reunir a todos a la mesa
                        para compartir un buen momento en familia. Su pasión por la comida, las sonrisas y estomagos
                        llenos, Nos inspiró tanto a sus nietos e hijos a impulsar esta pequeña cadena de pizzerias.
                        Hippo Pizza es un pequeño homenaje a las abuelas que cocinan con amor para sus seres queridos.
                    </p>
                    <img src="../../public/Images/abuelita.jpg" alt="abuelita">
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="contact-info">
            <h4>Mas Informacion</h4>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> hipopizza@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> 11 4202-8242</li>
                <li><i class="fa-solid fa-map"></i> Av.Achaval 2600 / Uriarte 599, Lanús - Buenos Aires</li>
            </ul>
        </div>
    </footer>
</body>

</html>